<!-- Start Property header  -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-property-header-inner">
          <h2>Create new listing1</h2>
          <ol class="breadcrumb">
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Proerty header  -->

  <!-- FORM-->
  <form class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Pre-Insertion Form</legend>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_consent_signed">Consent Signed and Verified with Order</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_consent_signed-0">
      <input type="radio" name="pre_insert_consent_signed" id="pre_insert_consent_signed-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_consent_signed-1">
      <input type="radio" name="pre_insert_consent_signed" id="pre_insert_consent_signed-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_name">Fill in your name</label>
        <div class="col-md-6">
          <input id="pre_insert_name" name="pre_insert_name" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_family_verbal_understand">Pt/Family Verbalized Understanding</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_family_verbal_understand-0">
      <input type="radio" name="pre_insert_family_verbal_understand" id="pre_insert_family_verbal_understand-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_family_verbal_understand-1">
      <input type="radio" name="pre_insert_family_verbal_understand" id="pre_insert_family_verbal_understand-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_family_verbal_explain">Explain</label>
        <div class="col-md-4">
          <textarea class="form-control" id="pre_insert_family_verbal_explain" name="pre_insert_family_verbal_explain"></textarea>
        </div>
      </div>

      <!-- Multiple Radios -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="label"><h2>Time Out and Prep</h2></label>
        <div class="col-md-4">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_identity_verified_by_name">PT Identified Verified By</label>
        <div class="col-md-6">
          <input id="pre_insert_identity_verified_by_name" name="pre_insert_identity_verified_by_name" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_identity_verified_by"></label>
        <div class="col-md-4">
          <div class="checkbox">
            <label for="pre_insert_identity_verified_by-0">
      <input type="checkbox" name="pre_insert_identity_verified_by" id="pre_insert_identity_verified_by-0" value="Photo">
      Photo
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_identity_verified_by-1">
      <input type="checkbox" name="pre_insert_identity_verified_by" id="pre_insert_identity_verified_by-1" value="Armband">
      Armband
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_identity_verified_by-2">
      <input type="checkbox" name="pre_insert_identity_verified_by" id="pre_insert_identity_verified_by-2" value="Patient Response">
      Patient Response
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_identity_verified_by-3">
      <input type="checkbox" name="pre_insert_identity_verified_by" id="pre_insert_identity_verified_by-3" value="">
      Check All
    </label>
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_timeout_observed_by_name">Time-Out Observed By</label>
        <div class="col-md-6">
          <input id="pre_insert_timeout_observed_by_name" name="pre_insert_timeout_observed_by_name" type="text" placeholder="" class="form-control input-md">

        </div>
      </div>

      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_timeout_observed_by"></label>
        <div class="col-md-4">
          <div class="checkbox">
            <label for="pre_insert_timeout_observed_by-0">
      <input type="checkbox" name="pre_insert_timeout_observed_by" id="pre_insert_timeout_observed_by-0" value="Proper Patient">
      Proper Patient
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_timeout_observed_by-1">
      <input type="checkbox" name="pre_insert_timeout_observed_by" id="pre_insert_timeout_observed_by-1" value="Proper Order">
      Proper Order
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_timeout_observed_by-2">
      <input type="checkbox" name="pre_insert_timeout_observed_by" id="pre_insert_timeout_observed_by-2" value="Proper Site">
      Proper Site
    </label>
          </div>
          <div class="checkbox">
            <label for="pre_insert_timeout_observed_by-3">
      <input type="checkbox" name="pre_insert_timeout_observed_by" id="pre_insert_timeout_observed_by-3" value="Correct Equipment/Supplies Available">
      Correct Equipment/Supplies Available
    </label>
          </div>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_patient_positioned">Patient Positioned</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_patient_positioned-0">
      <input type="radio" name="pre_insert_patient_positioned" id="pre_insert_patient_positioned-0" value="Supine" checked="checked">
      Supine
    </label>
          <label class="radio-inline" for="pre_insert_patient_positioned-1">
      <input type="radio" name="pre_insert_patient_positioned" id="pre_insert_patient_positioned-1" value="Other">
      Other
    </label>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_patient_positioned"></label>
        <div class="col-md-6">
          <input id="pre_insert_patient_positioned" name="pre_insert_patient_positioned" type="text" placeholder="other" class="form-control input-md">

        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_correct_prep">Correct Side/Site Prepped with Chloraprep (Allow 30 Second Dry Time)</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_correct_prep-0">
      <input type="radio" name="pre_insert_correct_prep" id="pre_insert_correct_prep-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_correct_prep-1">
      <input type="radio" name="pre_insert_correct_prep" id="pre_insert_correct_prep-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_cleanse_hand_alcohol">Cleanse Hand with Alcohol Gel or Wash with Antimicrobial Soap and Water for 15 Seconds</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_cleanse_hand_alcohol-0">
      <input type="radio" name="pre_insert_cleanse_hand_alcohol" id="pre_insert_cleanse_hand_alcohol-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_cleanse_hand_alcohol-1">
      <input type="radio" name="pre_insert_cleanse_hand_alcohol" id="pre_insert_cleanse_hand_alcohol-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_don_cap_mask_gown">Don Cap, Mask, and Sterile Gown</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_don_cap_mask_gown-0">
      <input type="radio" name="pre_insert_don_cap_mask_gown" id="pre_insert_don_cap_mask_gown-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_don_cap_mask_gown-1">
      <input type="radio" name="pre_insert_don_cap_mask_gown" id="pre_insert_don_cap_mask_gown-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_don_sterile_gloves">Don Sterile Gloves</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_don_sterile_gloves-0">
      <input type="radio" name="pre_insert_don_sterile_gloves" id="pre_insert_don_sterile_gloves-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_don_sterile_gloves-1">
      <input type="radio" name="pre_insert_don_sterile_gloves" id="pre_insert_don_sterile_gloves-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_establish_sterile_field">Establish and Maintain Sterile Field</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_establish_sterile_field-0">
      <input type="radio" name="pre_insert_establish_sterile_field" id="pre_insert_establish_sterile_field-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_establish_sterile_field-1">
      <input type="radio" name="pre_insert_establish_sterile_field" id="pre_insert_establish_sterile_field-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_procedure_performed_aseptically">Procedure Performed Aseptically Per Standard of Care</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_procedure_performed_aseptically-0">
      <input type="radio" name="pre_insert_procedure_performed_aseptically" id="pre_insert_procedure_performed_aseptically-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_procedure_performed_aseptically-1">
      <input type="radio" name="pre_insert_procedure_performed_aseptically" id="pre_insert_procedure_performed_aseptically-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_seldinger_technique">Modified Seldinger Technique</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_seldinger_technique-0">
      <input type="radio" name="pre_insert_seldinger_technique" id="pre_insert_seldinger_technique-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_seldinger_technique-1">
      <input type="radio" name="pre_insert_seldinger_technique" id="pre_insert_seldinger_technique-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_over_the_wire_exchange">Over the Wire Exchange Performed Per Protocol</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_over_the_wire_exchange-0">
      <input type="radio" name="pre_insert_over_the_wire_exchange" id="pre_insert_over_the_wire_exchange-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_over_the_wire_exchange-1">
      <input type="radio" name="pre_insert_over_the_wire_exchange" id="pre_insert_over_the_wire_exchange-1" value="No">
      No
    </label>
        </div>
      </div>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="pre_insert_verify_placement_xray">Verify Placement w X-Ray Prior to Use if Indicated per Facility Protocol</label>
        <div class="col-md-4">
          <label class="radio-inline" for="pre_insert_verify_placement_xray-0">
      <input type="radio" name="pre_insert_verify_placement_xray" id="pre_insert_verify_placement_xray-0" value="Yes" checked="checked">
      Yes
    </label>
          <label class="radio-inline" for="pre_insert_verify_placement_xray-1">
      <input type="radio" name="pre_insert_verify_placement_xray" id="pre_insert_verify_placement_xray-1" value="No">
      No
    </label>
        </div>
      </div>

    </fieldset>
  </form>
  <!--/FORM-->

  <!-- Start Property header  -->


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Create new listing1</h2>
            <ol class="breadcrumb">
            </ol>
          </div>
        </div>
      </div>
    </div>

  <!-- End Proerty header  -->


  <!-- FORM-->
  <div class="container">
    <div class="row">
      <form class="form-horizontal">
        <fieldset>

          <!-- Form Name -->
          <legend>Request Details</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="requestName">Your Name</label>
            <div class="col-md-4">
              <input id="requestName" name="requestName" placeholder="Name" class="form-control input-md" required="" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="company_name">Company Name (To Analyze)</label>
            <div class="col-md-5">
              <input id="company_name" name="company_name" placeholder="Company Name" class="form-control input-md" required="" type="text">

            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="declineType">Decline Type</label>
            <div class="col-md-6">
              <select id="declineType" name="declineType" class="form-control">
      <option value="Exponential">Exponential (Conventional)</option>
      <option value="Hyperbolic">Hyperbolic (Unconventional)</option>
    </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="minB">B Factor Range</label>
            <div class="col-md-2">
              <input id="minB" name="minB" placeholder="min" class="form-control input-md" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="maxB"></label>
            <div class="col-md-2">
              <input id="maxB" name="maxB" placeholder="max" class="form-control input-md" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="econLimOil">Economic Limits Oil (STB/D)</label>
            <div class="col-md-5">
              <input id="econLimOil" name="econLimOil" placeholder="company specific range" class="form-control input-md" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="econLimGas">Economic Limits Gas (SCF/D)</label>
            <div class="col-md-4">
              <input id="econLimGas" name="econLimGas" placeholder="company specific range" class="form-control input-md" type="text">

            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="comments">Comments</label>
            <div class="col-md-4">
              <textarea class="form-control" id="comments" name="comments"></textarea>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="deadline">Expected Deadline</label>
            <div class="col-md-4">
              <input id="deadline" name="deadline" placeholder="date" class="form-control input-md" type="text">

            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="uregency">Urgency</label>
            <div class="col-md-4">
              <select id="uregency" name="uregency" class="form-control">
      <option value="NormalLevel">Normal Level</option>
      <option value="Urgent">Urgent</option>
      <option value="VeryUrgent">Very Urgent</option>
    </select>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
              <button id="submit" name="submit" class="btn btn-default">Submit</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
  <!--/FORM-->
