<div class="pageHeaders">

  <!-- FORM-->
  <div class="containerNew">
    <div class="row">
      <form class="form-horizontal" method="post" action="/listings/new">
        <fieldset>

          <!-- Form Name -->
          <legend>Create New Listing</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-5">
              <input id="title" name="listing[title]" placeholder="" class="form-control input-md" required="" type="text">
            </div>
          </div>

          <!-- Image Upload -->
          <div class="imageContainer">
            <div class="row">
            <label class="col-md-4 control-label" for="image1">Image 1</label>
              <div class="col-xs-12 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                      <span class="glyphicon glyphicon-remove"></span>Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                      <span class="glyphicon glyphicon-folder-open"></span>
                      <span class="image-preview-input-title">Choose Image</span>
                      <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                  </span>
                </div><!-- /input-group image-preview [TO HERE]-->
              </div>
            </div>
          </div>

          <!-- Image Upload -->
          <div class="imageContainer">
            <div class="row">
            <label class="col-md-4 control-label" for="title">Image 2</label>
              <div class="col-xs-12 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                      <span class="glyphicon glyphicon-remove"></span>Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                      <span class="glyphicon glyphicon-folder-open"></span>
                      <span class="image-preview-input-title">Choose Image</span>
                      <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                  </span>
                </div><!-- /input-group image-preview [TO HERE]-->
              </div>
            </div>
          </div>

          <!-- Image Upload -->
          <div class="imageContainer">
            <div class="row">
            <label class="col-md-4 control-label" for="title">Image 3</label>
              <div class="col-xs-12 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                      <span class="glyphicon glyphicon-remove"></span>Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                      <span class="glyphicon glyphicon-folder-open"></span>
                      <span class="image-preview-input-title">Choose Image</span>
                      <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                  </span>
                </div><!-- /input-group image-preview [TO HERE]-->
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="address">Address</label>
            <div class="col-md-5">
              <input id="address" name="listing[address]" placeholder="i.e. Block 11, Ang Mo Kio Ave 2, Singapore 562710" class="form-control input-md" required="" type="text">
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="district">District Number</label>
            <div class="col-md-5">
              <select id="district" name="district[district]" class="form-control">
                <option value="" selected></option>
                <%allDistricts.forEach(function(district){%>
                <option value=<%= district._id%>><%=district.district%></option>
            <%})%>
                <%# <option value="0"></option>
                <option value="580da8c1371327d0074a801f">District 01 - Raffles Place, Marina, Cecil</option>
                <option value="D2">District 02 - Tanjong Pagar, Chinatown</option>
                <option value="D3">District 03 - Tiong Bahru, Alexandra, Queenstown</option>
                <option value="D4">District 04 - Mount Faber, Telok Blangah, Harbourfront</option>
                <option value="D5">District 05 - Buona Vista, Pasir Panjang, Clementi</option>
                <option value="D6">District 06 - Clarke Quay, City Hall</option>
                <option value="D7">District 07 - Bugis, Beach Road, Golden Mile</option>
                <option value="D8">District 08 - Little India, Farrer Park</option>
                <option value="D9">District 09 - Orchard Road, River Valley</option>
                <option value="D10">District 10 - Bukit Timah, Holland, Balmoral</option>
                <option value="D11">District 11 - Novena, Newton, Thomson</option>
                <option value="D12">District 12 - Toa Payoh, Serangoon, Balestier</option>
                <option value="D13">District 13 - Macpherson, Braddell
                </option>
                <option value="D14">District 14 - Geylang, Paya Lebar, Sims</option>
                <option value="D15">District 15 - Joo Chiat, Marina Parade, Katong</option>
                <option value="D16">District 16 - Bedok, Upper East Coast, Siglap</option>
                <option value="D17">District 17 - Changi, Flora, Loyang</option>
                <option value="D18">District 18 - Tampines, Pasir Ris</option>
                <option value="D19">District 19 - Punggol, Sengkang, Serangoon Gardens</option>
                <option value="D20">District 20 - Ang Mo Kio, Bishan, Thomson</option>
                <option value="D21">District 21 - Upper Bukit Timah, Ulu Pandan, Clementi Park</option>
                <option value="D22">District 22 - Boon Lay, Jurong, Tuas</option>
                <option value="D23">District 23 - Choa Chu Kang, Diary Farm, Hillview, Bukit Panjang, Bukit Batok</option>
                <option value="D24">District 24 - Kranji, Lim Chu Kang, Tengah</option>
                <option value="D25">District 25 - Woodlands, Admiralty</option>
                <option value="D26">District 26 - Upper Thomson, Mandai
                </option>
                <option value="D27">District 27 - Sembawang, Yishun, Admiralty</option>
                <option value="D28">District 28 - Yio Chu Kang, Seletar</option>%>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="area">Area</label>
            <div class="col-md-5">
              <select id="area" name="district[area]" class="form-control">
              <option value="" selected></option>
                <% allDistricts.forEach(function(district) { %>
                <option value=<%= district.area._id%>><%=district.area%></option>
              <% }) %>
              </select>
            </div>
          </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="listingType">Type of Listing</label>
          <div class="col-md-2">
            <label class="radio-inline" for="pre_insert_patient_positioned-0">
              <input type="radio" id="pre_insert_patient_positioned-0" value="For Sale" name="listing[listingType]">
                For Sale
            </label>
            <label class="radio-inline" for="pre_insert_patient_positioned-1">
              <input type="radio" id="pre_insert_patient_positioned-1" value="For Rent" name="listing[listingType]">
                For Rent
            </label>
          </div>
        </div>


          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="listingType">Type of Property</label>
            <div class="col-md-2">
              <select id="listingType" name="listing[propertyType]" class="form-control">
                <option value="0" selected></option>
                <option value="Landed">Landed</option>
                <option value="Condo">Condo</option>
                <option value="HDB">HDB</option>
          </select>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="price">List Price ($)</label>
            <div class="col-md-2">
              <input id="price" name="listing[price]" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="size">Size (sqf)</label>
            <div class="col-md-2">
              <input id="size" name="listing[size]" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="tenure">Tenure</label>
              <div class="col-md-2">
                <select id="tenure" name="listing[tenure]" class="form-control">
                  <option value="0" selected></option>
                  <option value="Freehold">Freehold</option>
                  <option value="999-year Leasehold">999-year Leasehold</option>
                  <option value="103-year Leasehold">103-year Leasehold</option>
                  <option value="99-year Leasehold">99-year Leasehold</option>
                  <option value="Others">Others</option>
                </select>
              </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="bedroom">Bedroom(s)</label>
              <div class="col-md-2">
                <select id="bedroom" name="listing[bedroom]" class="form-control">
                  <option value="0"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="bathroom">Bathroom(s)</label>
              <div class="col-md-2">
                <select id="bathroom" name="listing[bathroom]" class="form-control">
                  <option value="0"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="details">Addtional Details</label>
            <div class="col-md-5">
              <textarea class="form-control" id="details" name="listing[details]"></textarea>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-3">
              <input id="name" name="listing[contactName]" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="contactNumber">Contact Number</label>
            <div class="col-md-3">
              <input id="contactNumber" name="listing[contactNumber]" placeholder="" class="form-control input-md" type="text">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-3 control-label" for="submit"></label>
            <div class="col-md-6">
              <button id="submit" name="submit" class="btn btn-default">Submit Listing</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
  <!--/FORM-->

</div>
