* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*==================
  LAYOUT PAGE
====================*/

.logolong {
  float: left;
  width: 160px;
  height: 32px;
  border-radius: 6px;
  margin: 8px 20px 8px 0px;
}

img.logolong:hover {
  opacity: 0.5;
}

#messageBox {
  text-align: center;
  top: 50px;
  position: absolute;
  position: fixed;
  z-index: 3;
}

/*==================
  FORMS
====================*/

.col-md-2.radioInput {
  width: 20%;
}

.pageHeaders {
  margin-top: 20px;
}

/*==================
  INDEX PAGE
====================*/
.containerNew {
  margin-top: 20px;
  text-align: center;
  transition: margin-left .5s;
}

a#searchButton {
  color: white;
  text-decoration: none;
  outline: 0;
}

a#searchButton:hover {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

.img-square {
  width: 250px;
  padding: 0 20px;
}

#searchButton:hover {
  border: 1px solid white;
  border-radius: 5px;
}

/*==================
  JUMBOTRON TITLE
====================*/

.jumbotron.index {
  margin-top: 105px;
  height: 500px;
  text-align: center;
  background-image: url("/image/main.jpg");
}

.jumbotron.sorry {
  margin-top: 105px;
  height: 500px;
  text-align: center;
  background-image: url("/image/headerImage.jpeg");
}

.bo {
  margin: 5%;
  text-align: center;
}

.yay {
  font-size: 60px;
  height: 60px;
  float: left;
  margin-right: 0.3em;
}

.nay {
  text-align: left;
  font-size: 60px;
  float: left;
  overflow: hidden;
  position: relative;
  height: 75px;
}

span1 {
  text-align:
  display: inline-block;
  color: #5dd168;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  -webkit-animation: move 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
}

@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -90px;
  }
  40% {
    top: -175px;
  }
  /*60% { top: -255px; }*/
  /*80% { top: -345px; }*/
}

/*==================
  PROFILE SECTION
====================*/

.containerPosting {
  position: relative;
}

.span8 {
  text-align: center;
}

.logout {
  text-align: center;
}

.allPosting {
  padding: 1%;
  margin: 0 20%;
}

.postButton {
  margin: 0 40%;
  width: 50%
}

.MoDe {
  display: inline-block;
  margin: 1%;
}


/*==================
PROFILE SIDE NAV
====================*/

.sidenav {
  margin-top: 50px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #e3e3e3;
  text-align: center;
}

.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 10px;
  }
  .sidenav a {
    font-size: 15px;
  }
}

.openNav {
  position: fixed;
  top: 55px;
  left: 10px;
}


/*==================
 ADVANCE SEARCH SECTION
====================*/

.aa-advance-search-area:hover {
  box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-search-btn {
  background-color: rgb(236, 0, 0);
}

.aa-search-btn:hover {
  box-shadow: 1px 1px 1px 1px black;
}

#login-dp {
  min-width: 280px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, .8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

#login-dp .social-buttons {
  margin: 12px 0
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-tw {
  color: #fff;
  background-color: #55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media(max-width:900px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}

/*Advance Search Bar*/

#aa-advance-search {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}

#aa-advance-search .aa-advance-search-area {
  background-color: grey;
  border-radius: 10px;
  display: inline;
  float: left;
  margin-top: 0px;
  min-height: 100px;
  padding: 25px 20px;
  position: relative;
  width: 100%;
  opacity: 0.9;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-top {
  display: inline;
  float: left;
  width: 100%;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search {
  display: inline;
  float: left;
  width: 100%;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search input[type="text"] {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search select {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-top .aa-single-advance-search .aa-search-btn {
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  outline: medium none;
  text-transform: uppercase;
  width: 100%;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 50px;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-connect {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset;
  transition: background 450ms ease 0s;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle {
  border: none;
  border-radius: 50%;
  box-shadow: none;
  height: 25px;
  left: -17px;
  top: -12px;
  width: 25px;
}

#aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle:after, #aa-advance-search .aa-advance-search-area .aa-advance-search-bottom .aa-single-filter-search .noUi-handle:before {
  display: none;
}


/*==================
 LATEST PROPERTY SECTION
====================*/

#aa-latest-property {
  /*background-color: #f8f8f8;*/
  display: inline;
  float: left;
  width: 100%;
  padding: 40px 0;
  /*padding: 100px 0;*/
}

#aa-latest-property .aa-latest-property-area {
  display: inline;
  float: left;
  width: 100%;
}

#aa-latest-property .aa-latest-property-area .aa-latest-properties-content {
  display: inline;
  float: left;
  /*margin-top: 20px;*/
  width: 100%;
}

.aa-properties-item {
  display: inline;
  float: left;
  margin-top: 30px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.aa-properties-item:hover {
  box-shadow: 1px 2px 5px 3px #ccc;
}

.aa-properties-item .aa-properties-item-img {
  width: 100%;
}

.aa-properties-item .aa-properties-item-img img {
  width: 100%;
}

.aa-properties-item .aa-tag {
  color: #fff;
  padding: 6px 10px;
  position: absolute;
  left: 15px;
  top: -15px;
}

.aa-properties-item .for-rent {
  /*background-color: #20ceb3;*/
  background-color: #5dd168;
}

.aa-properties-item .sold-out {
  background-color: #ff0000;
}

.aa-properties-item .for-sale {
  background-color: #4285f4;
}

#for-rent {
  background-color: #5dd168;
}

#for-sale {
  background-color: #4285f4;
}

#for-soldout {
  background-color: #ff0000;
}

.aa-properties-item .aa-properties-item-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info {
  border-bottom: 1px solid #ddd;
  display: inline;
  float: left;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.aa-properties-item .aa-properties-item-content .aa-properties-info span {
  margin: 0px 5px;
  font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about {
  display: inline;
  float: left;
  width: 100%;
  padding: 10px;
  height: 150px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about h3 {
  margin-top: 0px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-about p {
  font-size: 14px;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial {
  border-top: 1px solid #ddd;
  display: inline;
  float: left;
  padding: 10px;
  width: 100%;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial .aa-price {
  float: left;
  font-size: 18px;
  padding: 3px 0;
}

.aa-properties-item .aa-properties-item-content .aa-properties-detial a {
  float: right;
}

.aa-title {
text-align: center;
}

/*==================
  PROPERTY PAGE
====================*/

#aa-property-header {
  background-image: url("../img/property-header-bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  position: relative;
  min-height: 400px;
  width: 100%;
}

#aa-property-header::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#aa-property-header .aa-property-header-inner {
  display: inline;
  float: left;
  padding: 150px 0 50px;
  text-align: center;
  width: 100%;
}

#aa-property-header .aa-property-header-inner h2 {
  color: #fff;
  letter-spacing: 0.5px;
  margin-top: 65px;
  text-transform: uppercase;
}

#aa-property-header .aa-property-header-inner .breadcrumb {
  background: none;
  border: none;
}

#aa-property-header .aa-property-header-inner .breadcrumb li a {
  color: #fff;
}

#aa-property-header .aa-property-header-inner .breadcrumb li.active {
  color: #fff;
}

#aa-properties {
  display: inline;
  float: left;
  width: 100%;
  padding: 30px 0 100px;
}

#aa-properties .aa-properties-content {
  display: inline;
  float: left;
  width: 100%;
}

#aa-properties .aa-properties-content .aa-properties-content-head {
  border: 1px solid #ddd;
  display: inline;
  float: left;
  padding: 10px 15px;
  width: 100%;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left {
  float: left;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left label {
  font-weight: normal;
  margin-bottom: 0;
  font-size: 18px;
  margin-right: 10px;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left .aa-sort-form {
  float: left;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-left .aa-show-form {
  float: left;
  margin-left: 25px;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right {
  float: right;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right a {
  border: 1px solid #ccc;
  display: inline-block;
  font-size: 20px;
  padding: 2px 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#aa-properties .aa-properties-content .aa-properties-content-head .aa-properties-content-head-right #aa-grid-properties {
  margin-right: 5px;
}

#aa-properties .aa-properties-content .aa-properties-content-body {
  display: inline;
  float: left;
  width: 100%;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav {
  margin-left: -30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-properties-nav li {
  display: block;
  float: left;
  margin: 0 0 20px 30px;
  width: 46.1%;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view {
  margin-left: 0;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li {
  width: 100%;
  margin: 0;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-img {
  display: block;
  width: 50%;
  float: left;
}

#aa-properties .aa-properties-content .aa-properties-content-body .aa-list-view li .aa-properties-item .aa-properties-item-content {
  width: 50%;
  border-top: 1px solid #ddd;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom {
  display: inline;
  float: left;
  width: 100%;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination {
  margin-top: 40px;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li:first-child a {
  border: 1px solid #ccc !important;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li:last-child a {
  border: 1px solid #ccc !important;
  border-radius: 0;
  margin-left: 0;
  margin-right: 2px;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a {
  border: 1px solid transparent;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a:hover, #aa-properties .aa-properties-content .aa-properties-content-bottom .pagination li a:focus {
  color: #fff;
}

#aa-properties .aa-properties-content .aa-properties-content-bottom .pagination .active a {
  color: #fff;
}

#aa-properties .aa-properties-sidebar {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 10px 20px;
  width: 100%;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar {
  display: inline;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar h3 {
  text-transform: uppercase;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-advance-search {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 15px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-advance-search input[type="text"] {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
  font-size: 18px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-advance-search select {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #555;
  height: 40px;
  padding: 5px;
  width: 100%;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-advance-search .aa-search-btn {
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  height: 50px;
  outline: medium none;
  text-transform: uppercase;
  width: 100%;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  margin: 0 5px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search .noUi-connect {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.45) inset;
  transition: background 450ms ease 0s;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search .noUi-handle {
  border: none;
  border-radius: 50%;
  box-shadow: none;
  height: 25px;
  left: -17px;
  top: -12px;
  width: 25px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search .noUi-handle:after, #aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .aa-single-filter-search .noUi-handle:before {
  display: none;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media {
  margin-top: 20px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-object {
  width: 100px;
  height: 90px;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-body h4 a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#aa-properties .aa-properties-sidebar .aa-properties-single-sidebar .media .media-body p {
  font-size: 12px;
}

.aa-properties-content-bottom {
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-content-bottom .pagination {
  margin-top: 40px;
}

.aa-properties-content-bottom .pagination li:first-child a {
  border: 1px solid #ccc !important;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.aa-properties-content-bottom .pagination li:last-child a {
  border: 1px solid #ccc !important;
  border-radius: 0;
  margin-left: 0;
  margin-right: 2px;
}

.aa-properties-content-bottom .pagination li a {
  border: 1px solid transparent;
}

.aa-properties-content-bottom .pagination li a:hover, .aa-properties-content-bottom .pagination li a:focus {
  color: #fff;
}

.aa-properties-content-bottom .pagination .active a {
  color: #fff;
}


/*==================
 PROPERTY DETAILS PAGE
====================*/

.aa-properties-details {
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-details .aa-properties-details-img {
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-details .aa-properties-details-img img {
  height: 500px;
  width: 100%;
}

.aa-properties-details .aa-properties-details-img .slick-prev, .aa-properties-details .aa-properties-details-img .slick-next {
  height: 50px;
  top: 47%;
  width: 50px;
}

.aa-properties-details .aa-properties-info {
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-details .aa-properties-info h2 {
  margin-top: 20px;
}

.aa-properties-details .aa-properties-info .aa-price {
  color: #000;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.aa-properties-details .aa-properties-info h4 {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.aa-properties-details .aa-properties-info ul {
  margin-left: 20px;
}

.aa-properties-details .aa-properties-info ul li {
  margin-bottom: 10px;
}

.aa-properties-details .aa-properties-info ul li:before {
  content: '\f046';
  font-family: fontAwesome;
  left: 0;
  top: 0;
  margin-right: 10px;
}

.aa-properties-details .aa-properties-info iframe {
  margin-top: 15px;
}

.aa-properties-details .aa-nearby-properties {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.aa-properties-details .aa-nearby-properties .aa-nearby-properties-area {
  display: inline;
  float: left;
  width: 100%;
}

.aa-properties-social {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: inline;
  float: left;
  margin-top: 50px;
  padding: 20px 0;
  width: 100%;
}

.aa-properties-social ul {
  display: inline;
}

.aa-properties-social ul li {
  display: inline;
}

.aa-properties-social ul li:first-child {
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 31px;
  margin-right: 10px;
  text-transform: uppercase;
}

.aa-properties-social ul li a {
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


/*==================
 IMAGE UPLOAD
====================*/

.imageContainer {
  margin: 20px auto;
}

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.image-preview-input-title {
  margin-left: 2px;
}

/*==================
  FOOTER
====================*/
.appGoggle {
  height: 18%;
  width: 30%;
  margin-top: 2%;
  margin-left: 0%;
  border-radius: 7%;
}

.appApple {
  height: 30%;
  width: 33%;
  margin-left: 1%;
  margin-top: 2%;
}

.footer {
  width: 100%;
  bottom: 0;
  text-align: center;
}

.footer-distributed {
  background-color: #222222;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 5px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.footerLogo {
  float: left;
  width: 320px;
  height: 64px;
  border-radius: 6px;
  margin: 8px 20px 8px 0px;
}

/*==================
    SCROLL TO TOP
====================*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*==================
    ABOUT PAGE
====================*/

.about {
  margin-top: 7%;
  margin-bottom: 6%;
  text-align: center;
}

.btn.btn-success.aboutButton {
  margin: 2% 1%;
}

.htw {
  margin: 3%;
}

.logoApp {
  height: 10%;
  width: 10%;
}
