<div class="about">

  <header>
      <img class="logoApp" src="/image/logo.png">
      <h1 class="htw">How Was It Made?</h1>
    </header>

    <div class="story">
      <h4>
        <strong>PROPIE</strong> is a property listing and search website.<br><br>Sounds simple doesn't it? Not when you have to spend hours <br><br> debugging and making your routes go where you want them to be. <br><br><br>Click the buttons below to learn more about the process of making this website.
      </h4>
    </div>

    <div class="modalContainer">
      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg1">1. User Story</button>

      <div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">1. User Story</h4>
            </div>
            <div class="modal-body">
              <img src="/image/userstory.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg2">2. ERD Diagram</button>

      <div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">2. ERD Diagram</h4>
            </div>
            <div class="modal-body">
              <img src="/image/ERD.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg3">3. Wireframing</button>

      <div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">3. Wireframing</h4>
            </div>
            <div class="modal-body">
              <img src="/image/wire1.png">
              <br><br>
              <img src="/image/wire2.png">
              <br><br>
              <img src="/image/wire3.png">
              <br><br>
              <img src="/image/wire4.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg4">4. Flowchart</button>

      <div class="modal fade bs-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">4. Flowchart</h4>
            </div>
            <div class="modal-body">
              <img src="/image/fc.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" class="mButtons" data-toggle="modal" data-target=".bs-example-modal-lg5">5. Issues & Development</button>

      <div class="modal fade bs-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">5. Issues & Development</h4>
            </div>
            <div class="modal-body">
              <img src="/image/issues.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Large modal -->
      <button type="button" class="btn btn-success aboutButton" data-toggle="modal" data-target=".bs-example-modal-lg6">6. Credits</button>

      <div class="modal fade bs-example-modal-lg6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">6. Credits</h4>
            </div>
            <div class="modal-body">
              <img src="/image/credits.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
