<!-- Jumbotron -->
  <div class="container">
    <div class="content-container">
      <div class="blur">
    <div class="jumbotron sorry">

<div class="bo">
      <h1 class="yay">Sorry! The site is...</h1>
      <div class="nay">
        <span1><b>
          underconstruction<br />
          and will be ready...<br />
          in a couple of weeks!
          </b></span1>
      </div>
</div>


    </div>
  </div>

</div>
</div>
<!--/Jumbotron -->
